<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>Quora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "Quora", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Submit link', new_question_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
      </ul>
    </div>
  </nav>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li>
            <%= link_to "All Questions", root_path, class: "list-group-item" %>
          </li>
          <% Category.all.each do |category| %>
            <li>
              <%= link_to category.name, questions_path(category: category.name), class: "list-group-item" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>
